/* desktop */

@media (min-width: 769px) {
    .mobileMenuButton {
        display: none;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 1em;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.item {
    color: white;
    margin-right: 1em;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.bold {
    font-weight: bold;
}

.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* mobile */

@media (max-width: 768px) {
    
    .mobileMenuButton {
        font-size: 30px;
        font-weight: 300;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 101;
    }

    .list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom, #1E181A 70%, #803a21);
        text-align: center;
        z-index: 9;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .mobileOpen {
        display: flex;
    }

    .list li {
        margin-bottom: 20px;
        font-size: 6.5vw;
    }

    .hidden {
        display: none;
    }
}
