.depoimentos {
    background-color: #20181B;
    padding: 25vh;
    padding-bottom: 40vh;
    padding-bottom: 5vh;
    margin-bottom: 80px;
}

.depoimentosTitle {
    text-align: left;
    color: white;
    font-size: 2.5vw;
    font-family: 'Allegin';
    font-weight: 200;
    padding-bottom: 5vh;
}

.depoimentosText {
    font-family: Chillax;
    text-align: center;
    font-weight: 100;
    color: white;
    line-height: 35px;
    font-size: 2.5vh;
    margin-bottom: 50px;
}

.clientName {
    font-family: Chillax;
    color: white;
    padding-top: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 2.5vh;
}

.item {
    padding: 10vh;
    height: 10vh;
    background: transparent;
    border: solid;
    border-width: 1px;
    border-color: white;
    margin-right: 3vw;
    padding-bottom: 150px;
    margin-left: 15px;
}

@media only screen and (max-width: 600px) {
    .depoimentos {
        padding: 0px;
        margin-top: 50px;
    }

    .depoimentosTitle {
        text-align: center;
        font-size: 5.5vh;
        margin-bottom: -50px;
    }

    .depoimentosText {
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 22vh;
        border: none;
        text-align: center;
        font-weight: 100;
        margin-bottom: 5vh;
    }

    .item {
        padding: 8vh;
        height: 8vh;
        margin-left: 5px;
        margin-left: 5px;
        padding-bottom: 50vh;
        height: 10vh;
        background: transparent;
        border: solid;
        border-width: 0;
        border-color: white;
    }

    .clientName {
        font-family: Chillax;
        color: white;
        padding-top: 25px;
        text-align: center;
        font-weight: 400;
        font-size: 2.5vh;
    }
}
