.depoimentos {
    margin: 0 auto;
    width: 70%;
    height: 70vh;
}

.depoimentosTitle {
    text-align: left;
    color: white;
    font-size: 2.025vw;
    font-family: 'Allegin';
    font-weight: 200;
    padding-bottom: 5vh;
    padding-right: 3vw;
}

.depoimentosText {
    font-family: Chillax;
    text-align: center;
    font-weight: 100;
    width: 92%;
    color: white;
    line-height: normal;
    font-size: 1.265vw;
   
}

.clientName {
    font-family: Chillax;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.265vw;
    margin-top: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    background: transparent;
    margin-right: 1.2vw;
    border: solid;
    border-width: 1px;
    border-color: white;
    padding: 2rem;
}

@media only screen and (max-width: 576px) {
    .depoimentos {
        padding: 0px;
        margin-top: 3vh;
        padding-bottom: 20vh;
        width: 100%;
    }

    .depoimentosTitle {
        text-align: center;
        font-size: 5vh;
        padding-bottom: 1vh;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .depoimentosText {
        font-size: 4vw;
        padding: 0;
        margin-bottom: 1rem;
        width: 100%;
        font-weight: 100;
    }

    .item {
        border-width: 0;
    }

    .clientName {
        font-size: 2.5vh;
        padding-top: 0;
        margin-top: 1rem;
        font-weight: 400;
    }
}