.redirect{
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  display: flex;
  border: 0;
  transition: transform 0,2s;
}

.redirect:hover {
  transform: scale(1.01)
}

.buttonText{
  font-size: 1.1vw;
  margin-left: .4vw;
  font-weight: 400;
}

