.ProjectBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  