.preenchimento{
    padding: 5%;
}


.container{
   margin-bottom: 15em;
}

.containerImagem{
    float: left;
    margin-right: 5em;
    margin-bottom: 2em;
}

.fraseDestaque{
    color:#D45827 ;
}

.paragrafo{
   font-size: 2.5em;
   margin: 0px;
   text-align: justify;
   color: white;
}

.paragrafo:first-child{
    margin-bottom: 1.5vw;
}