.preenchimento{
    width: 73%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 6%;
    margin-top: 6%;
}


.container{
   margin-bottom: 3vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
}

.containerImagem{
    margin-right: 10vh;
    height: 35vh;
    width: auto;
}

.fraseDestaque{
    color:#ffffff ;
    font-weight: bold;
}

.paragrafo{
   font-size: 2.3vh;
   margin: 0px;
   text-align:left;
   color: white;
   line-height: normal;
}

.paragrafo:first-child{
    margin-bottom: .5vw;
}

@media (max-width: 576px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     
     .containerImagem{
        margin-right: 0;
    }

    .paragrafo{
        font-size: 3.52vw;
        text-align: left;
     }

    .preenchimento{
        width: 75%;
    }   

    .paragrafo:first-child{
        margin-bottom: 1.5vw;
    }
    
}