.preenchimento{
    padding: 15%;
}


.container{
   margin-bottom: 3vh;
}

.containerImagem{
    float: left;
    margin-right: 15vh;
}

.fraseDestaque{
    color:#D45827 ;
}

.paragrafo{
   font-size: 2.3vh;
   margin: 0px;
   text-align: justify;
   color: white;
   line-height: 1.5;
}

.paragrafo:first-child{
    margin-bottom: 1.5vw;
}