.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1E181A;
}

.logo{
    padding: 200px;
    padding-left: 150px;
    padding-right: 150px; 
    align-items: center;
}

.imglogo{
    margin-top: -225px;
    margin-bottom: -375px;
}

.title1{
    color: white;
    font-family: 'Chillax';
    font-weight: 200;
    letter-spacing: 0.1cm;
    margin-left: 5px;
}

.title2{
    font-family: 'Chillax';
    color: white;
    padding-top: 100px;
    padding-bottom: 55px;
    padding-left: 850px;
    font-size: 65px;
    line-height: 1.8cm;
}

.title3{
    font-family: 'Chillax';
    color: white;
    padding-left: 850px;
    font-weight: 100;
    font-size: 18px;
    text-align: justify;
    margin-top: -55px;
}

@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        padding: 5px;
    }
    
    .logo{
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px; 
    }
    
    .imglogo{
        height: 350px;
        width: 350px;
        padding-left: 300px;
    }
    
    .title1{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    
    .title2{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    
    .title3{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
}    