.box{
    background-color: azure;
    padding: 2vh;
    text-align: center;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1E181A;
}

.logo{
    padding: 10vh;
    padding-left: 7.5vw;
    padding-right: 7.5vw; 
    align-items: center;
}

.imglogo{
    margin-top: -22.5vh;
    margin-bottom: -37.5vh;
    padding-left: 6vw;
}

.title1 {
    color: white;
    padding-left: 0.2vw;
    font-size: 1.7vw; /* Tamanho da fonte em relação à largura da tela */
    letter-spacing: 0.1vw; /* Espaçamento das letras em relação à largura da tela */
    margin-left: 0.5vw; /* Margem esquerda em relação à largura da tela */
    font-family: 'Chillax';
    font-weight: 300;
}

.title2{
    color: white;
    padding-top: 0.2vh;
    padding-bottom: 5.5vh;
    padding-left: 40vw;
    font-size: 4vw;
    font-weight: 600;
    line-height: 4.5vw;
}

.title3{
    color: white;
    padding-left: 40vw;
    font-weight: 100;
    font-size: 2vh;
    text-align: justify;
    margin-top: -5.5vh;
    line-height: 2.4vh;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        padding: 5px;
    }
    
    .logo{
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px; 
    }
    
    .imglogo{
        height: 426px;
        width: 426px;
        padding-left: 300px;
    }
    
    .title1{
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 20px;
    }
    
    .title2{
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 75px;
        line-height: 78px;
        padding-bottom: 25px;
    }
    
    .title3{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
}    