.projetos {
    width: 100vw;
    height: 100vh;
    padding-left: 13vh;
    padding-top: 10vh; 
    padding-bottom: 10vh;
}

.projetosTitle {
    text-align: left;
    color: white;
    font-size: 3.1vw; 
    font-family: 'Allegin';
    font-weight: 200;
    padding-bottom: 2.08vh; 
}

.item {
    padding-right: 2.08vw; 
}

.imgcarimbo {
    width: 585px; 
    height: 585px; 
}

@media only screen and (max-width: 600px) { 
    .projetos {
        padding-left: 2vh;
    }

    .projetosTitle {
        text-align: left;
        color: white;
        font-size: 7.5vw; 
        font-family: 'Allegin';
        font-weight: 200;
        padding-bottom: 2.08vh; 
    }

    .imgcarimbo {
        width: 2px; 
        height: 180px; 
    }
}
