.projetos {
  width: 90vw;
  height: 100%;
  padding-right: 0px;
  padding-left: 8.9vw;
  padding-top: 10vh; 
  padding-bottom: 25vh;
}

.projetosTitle {
  text-align: left;
  color: white;
  font-size: 3.1vw;
  font-family: 'Allegin';
  padding-left: 3vw; 
  font-weight: 200;
  padding-bottom: 2.08vh;
}

.item {
  padding-left: 3vw; 
}

.img {
  width: 100%; 
  height: auto; 
}

@media only screen and (max-width: 576px) {
  .projetos {
    padding-left: 2vh;
  }

  .projetosTitle {
    text-align: left;
    color: white;
    font-size: 7.5vw;
    font-family: 'Allegin';
    font-weight: 200;
    padding-bottom: 2.08vh;
  }

  .img {
    width: 100%; 
    height: auto; 
  }
}
