.title{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #1E181A;
}

.description{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #1E181A;
}

.auxDescription{
    font-size: 20px;
    width: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #1E181A;
}