.footer{
    padding: 2em;
    background-color: #000000;
    color: #d45827;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 2px;
}

.social_list li:hover{
    color: white;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}