.card{
    margin-left: 1%;
    margin-bottom: 3%;
    width: 15.4%;
  }
  
  .cardImg{
    display: flex;
    flex-direction: column;
  }
  
  .cardText{
    background-color: #6C6060;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .Nomes {
    font-weight: 440;
    font-size: 2.4vh;
    margin-top: 3vh;
    margin-bottom: .5vh;
  }
  
  .Ciclo{
    margin-bottom: 3vh;
    font-size: 2.4vh;;
    font-weight: 100;
  }

  @media (max-width: 576px) {

    .Nomes{
      font-size: 2.4vh;
    }

    .Ciclo{
      font-size: 2.4vh;
    }
 
    .card{
      width: 40%;
      margin: 3%;
    }
    
  }