.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    color: white;
    font-weight: 500;
    font-size: 5vh;
    margin-right: 10vh;
}

.row {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    column-gap: 1rem;
    row-gap: 2rem;  
    justify-items: center;
    align-items: center;
}

.row > *:nth-last-child(-n+5) {
    justify-content: center;
}

.title {
    color: white;
    font-size: 2.7vw;
    font-weight: 500;
    margin-bottom: 2vh;
    margin-left: 12.5%;
}

.subTittle {
    color: white;
    font-size: 1vw;
    font-weight: 300;
    margin-bottom: 5.5vh;
    margin-left: 12.5%;
}

@media (max-width: 576px) {
    .title {
        display: none;
    }

    .container {
        width: 100%;
    }

    .subTittle {
        display: none;
    }

    .row {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
        margin: 2%;
    }
}
