.redirect{
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  border: 0;
  transition: transform 0,2s;
}

.redirect:hover {
  transform: scale(1.01)
}

.buttonText{
  font-size: 16px;
  margin-left: 7px;
  font-weight: 400;
}