:root{
    --header-size: ;
    --footer-size: ;
}

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
margin: 0;
margin-block-end: 0;
padding: 0;
border: 0;
font-size: 100%;
font-family: Chillax;
vertical-align: baseline;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

body {
line-height: 1;

}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


div .owl-nav{
    align-items: center;
}
.owl-nav{
    color: white !important;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 60px;
    font-weight: 300;
    margin-top: -20vh;
}

.owl-next {
    margin-left: 40vw; 
}

.owl-prev {
    margin-right: 40vw;
}


@media (max-width: 576px) {
    div .owl-nav{
        align-items: center;
    }
    .owl-nav{
        color: white !important;
        display: flex; 
        justify-content: center; 
        align-items: center;
        font-size: 60px;
        font-weight: 300;
        margin-top: -70px;
    }

    .owl-next {
        margin-left: 100px; 
    }

    .owl-prev {
        margin-right: 100px;
    }
}