.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 5%;
}

.containerImagem{
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.imagem{
  width: 469.72px;
  height: 561px;
}

.containerParagrafo{
    width: 60%;
    color: white;
   /*border-left: 1px solid white;
    padding-left: 50px;*/
}
.paragrafo{
    font-size: 25px;
    margin: 0px;
    text-align: justify;
    width: 925px;
    height: 250px;
 }

 .titulo{
    font-size: 2vw;
    margin: 0px;
    text-align: justify;
    height: 90px;
    width: 129px;
 }

 .conjuntoImagens{
    margin-top: 10px;
 }

 .conjuntoImagens img{
    margin-right: 100px;
 }