.containerText{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center
}

.upperImages{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.smallImage1{
    width: 680px;
    height: 785px;
}

.smallImage2{
    width: 680px;
    height: 785px;
    margin-left: 108px;
}

.lowerImages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 100px;
}

.image{
    width: 1468px;
    height: 906px;
}