@font-face {
    font-family:'Chillax';
    src: url('../../public/uploads/Chillax-Regular.otf');
}

@font-face {
    font-family:'Allegin';
    src: url('../../public/uploads/Allegin.otf');
}

.container{
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Chillax';
    background-color: #20181B;
}

.logo{
    background-color: #20181B;
    padding: 200px;
    padding-left: 300px;
    padding-right: 250px; 
    align-items: center;
}

.img-logo{
    margin-top: -225px;
    margin-bottom: -375px;
    padding-left: 150px;
}

.title1{
    color: white;
    font-family: 'Chillax';
    font-weight: 200;
    letter-spacing: 0.1cm;
    margin-left: -42px;
}

.title2{
    font-family: 'Chillax';
    color: white;
    padding-left: 625px;
    font-size: 65px;
    line-height: 1.8cm;
}

.title3{
    font-family: 'Chillax';
    color: white;
    padding-left: 625px;
    font-weight: 100;
    font-size: 18px;
    text-align: justify;
    margin-top: -55px;
}
