.topContainer {
    margin-top: 100px;
  }
  
  .imageContainer {
    position: relative;
    max-width: 100%;
    margin-left: auto;
    height: -120vh;
  }
  
  .image {
    width: 100%;
    object-fit: cover;
  }
  
  .textContainer {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .textTitle {
    font-size: 4vw;
    color: white;
  }
  
  .textDescription {
    font-size: 2vw;
    font-weight: bold;
    color: white;
  }