.card{
  padding: 10px;
  margin-bottom: 10px;
}

.cardImg{
  display: flex;
  flex-direction: column;
}

.cardText{
  background-color: #6C6060;
  align-items: center;
  text-align: center;
  color: white;
}

.Nomes {
  font-weight: 440;
  font-size: 23px;
  margin-top: 18px;
}

.Ciclo{
  margin-bottom: 18px;
  font-size: 19px;
  font-weight: 300;
}