.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 70%;

}

.services > p {
    font-size: 2.025vw;
    color: white;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Allegin', sans-serif !important;
    margin-bottom: 2vh;
}


@media screen and (max-width: 600px) {

    .services > p {
        text-align: center;
        font-size: 8vw;
    }

    .services{
        width: 75%;
    }
  }