.service {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.service > p {
    text-align: left;
    color: white;
    font-size: 1.518vw;
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 0;
    
}

.service > hr {
    margin-left: 0;
    width: 100%;
    border-top: 1px #fff;
    margin-top: 0px;

}


@media screen and (max-width: 600px) {
    .service > hr {
      display: none;
    }


    .service {
        justify-content: center;
    }

    .service > p {
        text-align: center;
        margin-top: 2vh;
    }

  }