.service {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.serviceHeader {
    cursor: pointer;
    width: 100%;
}

.serviceHeader > p {
    text-align: left;
    color: white;
    font-size: 1.518vw;
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 0;
}

.serviceHeader > hr {
    margin-left: 0;
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 5px;
}

.description {
    color: white;
    font-size: 1.2vw;
    margin-top: 1vh;
    margin-left: 2vw;
    padding: 10px 0;
}

@media screen and (max-width: 600px) {
    .serviceHeader > hr {
        display: none;
    }

    .service {
        justify-content: center;
    }

    .serviceHeader > p {
        text-align: center;
        margin-top: 2vh;
        font-size: 4.7vw;
    }

    .description {
        text-align: center;
        margin-left: 0;
        font-size: 4vw;
    }
}