.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #1E181A;
}

.min-height{
    min-height: 75%;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 10px;
    background-color: #1E181A;
}


.text{
    font-weight: 500;
    color: white;
}