.HeaderForm{
    display: flex;
    flex-direction: row;

}

.HeaderFormTxt{
    width: 40vw;
    display: flex;
    justify-content: right;
    
}

.HeaderFormHR{
    width: 60vw;
    margin: auto;
    margin-bottom: 6vh;
}

.hr {
    background-color: black;
}

.LowTxt {
    font-size: 1.4vw;

}
.HeaderFormTxt > p {
    font-size: 1.8vw;
    text-align: left;
    color: white;
}