.navbar{
    display: flex;
    flex-direction: column;
    background-color: #1E181A;
    padding: 1em;
}

.list{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.item{
    color: white;
    margin-right: 1em;
}