.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introContainer h1 {
  font-size: 2.025vw;
  margin-top: 15vh;
  font-weight: 500;
  margin-bottom: 2.2vw;
}

.introContainer p {
  text-align: center;
  font-size: 1vw;
  width: 100%;
  font-weight: normal;
  line-height: normal;
}

@media (max-width: 576px) {
  .introContainer h1 {
    font-size: 7.05vw;
    margin-top: 7vh;
    font-weight: 500;
  }
  
  .introContainer p {
    text-align: left;
    font-size: 3.52vw;
  }

}