.container{
    color: white;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTitle{
    margin-bottom: 30vh;
    font-size: 3vh;
}

.title{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.subTitle{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.bar{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.containerImages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imageRow{
    display: flex;
    width: 1050px;
    flex-wrap: wrap;
    justify-content: center;
}

.altText{
    font-Family: 'Allegin';
    font-weight: 100;
  }

  .altText{
    font-Family: 'Allegin';
    font-weight: 100;
  }

@media (max-width: 767px) {
    .imageRow {
      flex-direction: column;
      width: 500px;
    }
    .containerTitle{
        display: none;
    }
    .bar{
        display: none;
    }
    .subTitle{
        flex-direction: column;
        font-size: 2.5em;
    }
}

.imageBlock{
    display: flex;
    flex-direction: column;
}

.image{
    padding: 8px;
}

.figure{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 15px;
}
 .text{
    position: relative;
    display: flex;
    bottom: -497px;
    right: 23vh;
    font-size: 30px;
    color: white;
    font-weight: 500;
 }   


