.purpTxt{
    display: flex;
    align-items: center;
    justify-content: center;

}

.purpTxt > p {
    color: white;
    width: 50%;
    font-size: 3.17vw;
    text-align: center;
    line-height: normal;
}

.Allegin{
    font-family: Allegin;
}

@media screen and (max-width: 600px) {

    .purpTxt > p {
        width: 90%;
        text-align: left;
        font-size: 7.53vw;
    }

  }
