.purpTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
  }
  
  .purpTxt p {
    color: white;
    width: 60%;
    font-size: 4.6vh;
    text-align: center;
    margin-top: 6vh;
  }
  
  .altText{
    font-Family: 'Allegin';
    font-weight: 100;
  }