.imageContainer {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  height: -120vh;
}

.image {
  width: 100%;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  top: 25%;
  left: 15%;
  text-align: left;
}

.textTitle {
  font-size: 4vw;
  color: white;
}

.textDescription {
  font-size: 2vw;
  font-weight: bold;
  color: white;
}