.form{
    font-size: large;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 60vw;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    
}

.row input, .row select {
    height: 70% !important; 
    width: 32%;
    box-sizing:content-box;
    background-color: #D9D9D9;
}

.form ::placeholder{
    text-align: center;
    color: rgb(0, 0, 0);
}


.row > input, .row > select, .Form > input{
    
    height: 7vh;
    border-radius: 15px;
    border-style: hidden;
    background-color: #D9D9D9;
}

.submit {
    background-color: #D45827 !important;
    margin-top: 3vh !important;
    color: white;

}

.form > input {
    margin-top: 1.5vh;
}

#projects, #howDidUMeet, #date{
    text-align: center;
    color: black;
}