.gradientBackgroundInicio {
    height: 2000vh;
    background: 
    radial-gradient(circle at 100% 2%, #9e431e, transparent 5%),
    radial-gradient(circle at -10% 12%, #9e431e, transparent 10%),
    radial-gradient(circle at 100% 20%, #9e431e, transparent 10%),
    radial-gradient(circle at -10% 40%, #9e431e, transparent 15%),
    radial-gradient(circle at 100% 60%, #9e431e, transparent 15%),
    radial-gradient(circle at -10% 80%, #9e431e, transparent 15%),
    radial-gradient(circle at 100% 100%, #9e431e, transparent 10%),
    #141314;
  }

.gradientBackgroundSobreNos {
    height: 2000vh;
    background: 
    radial-gradient(circle at 100% 2%, #9e431e, transparent 5%),
    radial-gradient(circle at -10% 12%, #9e431e, transparent 10%),
    radial-gradient(circle at 100% 20%, #9e431e, transparent 10%),
    radial-gradient(circle at -10% 40%, #9e431e, transparent 15%),
    radial-gradient(circle at 100% 60%, #9e431e, transparent 15%),
    radial-gradient(circle at -10% 80%, #9e431e, transparent 15%),
    radial-gradient(circle at 100% 100%, #9e431e, transparent 10%),
    #141314;
  }

.gradientBackgroundContato {
    height: 300vh;
    background: 
    radial-gradient(circle at 50% 40%, #9e431e, transparent 60%),
    radial-gradient(circle at -20% 140%, #9e431e, transparent 50%),
    radial-gradient(circle at 120% 140%, #9e431e, transparent 50%),
    #141314;
  }