.container{
    width: 78%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.containerText{
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

.text{
    font-size: 5vh;
    font-weight: normal;
}

.containerImagens{
    display: flex;
    justify-content: space-between;
}

.imagem2{
    width: 48%;
    height: auto;
}

.imagem1{
    width: 48%;
    height: auto;
}

.bar{
    display: flex;
    margin: 4%;
    width: 15%;
}

@media (max-width: 576px) {

    .containerText{
        display: flex;
        flex-direction: column;
        margin-bottom: 7%;
    }
    .text{
        font-size: 4vh;
       margin-bottom: 12%;
    }

    .bar{
        display: none;
    }

    .containerImagens{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagem2{
        width: 100%;
        height: auto;
    }
    
    .imagem1{
        width: 100%;
        height: auto;
        margin-bottom: 10%;
    }
    
  }