.Container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.textAbout{
  font-size: 2.7vw;
  color: #fff;
  text-align: center;
  margin-bottom: 2.7vh;
  font-weight: 350;
}

.altText{
  font-Family: 'Allegin';
  font-weight: 100;
}

 @media (max-width: 576px) {
  .textAbout{
    font-size: 8vw;
  }
}
