.Container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textAbout{
  font-size: 3vw;
  color: #fff;
  text-align: center;
  margin-bottom: 2.7vh;
  font-weight: 350;
}

.altText{
  font-Family: 'Allegin';
  font-weight: 100;
}

 @media (max-width: 576px) {
  .textAbout{
    font-size: 8vw;
  }
}
