.form{
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
}

.mainDiv {
    font-size: large;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    
}

.row input, .row select{
    height: 70% !important; 
    width: 32%;
    box-sizing:content-box;
    background-color: #D9D9D9;
}

.form ::placeholder{
    text-align: center;
    color: rgb(0, 0, 0);
}


.row > input, .row > select, .form > input, .form > textarea{
    
    height: 7vh;
    border-radius: 20px;
    border-style: hidden;
    background-color: #D9D9D9;
}

.form > textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 7vh;
    overflow-y: hidden;
}

.submit {
    background-color: #D45827 !important;
    margin-top: 3vh !important;
    color: white;
    height: 7vh;

}

.form > input, .form > textarea {
    margin-top: 1.5vh;
}

#projects, #howDidUMeet, #date{
    text-align: center;
    color: black;
}


input[type="date"]:not(.has-value):before{
    color: rgb(0, 0, 0);
    content: attr(placeholder);
}

input[type="date"]:not(.has-value):valid:before{
    content: attr(none);
}


.rectangleSuccess {
    background-color: #D472A8;
    width: 40%;
    height: 7vh;
    border-radius: 20px;
    margin-top: 5vh;
    text-align: center;
    color: white;
    line-height: 7vh;
    margin-left: 30%;
    font-size: 1vw;
    display: none;
}

.rectangleFailed {
    background-color: #E01D1D;
    width: 40%;
    height: 7vh;
    border-radius: 20px;
    margin-top: 5vh;
    text-align: center;
    color: white;
    line-height: 7vh;
    margin-left: 30%;
    font-size: 1vw;
}

@media screen and (max-width: 600px) {

    .row{
        flex-direction: column;
        justify-content: center;
        height: 30vh;
        width: 100%;
        align-items: center;
    }


    .row > input, .row > select, .form > input, .form > textarea{
        height: 12vh;
        width: 100% ; 
        margin-top: 2vh;
        border-radius: 20px;
    }

    .form{
        margin: auto;
        align-items: center;
        width: 80vw;
    }

    .form > textarea{
        height: 12vh;
    }

    .submit {
        width: 70% !important;
        height: 6vh !important;
    }
    
  }