.purpose {
    padding: 5vh; /* Alterado para usar unidades de vh */
}

.projetoTitle {
    color: white;
    text-align: center;
    font-size: 3.26vw; /* Alterado para usar unidades de vw */
    font-weight: 200;
    font-family: 'Chillax';
    padding-top: 6.94vh; /* Alterado para usar unidades de vh */
}

.projetoTitle span {
    font-family: 'Allegin';
}

.imgcarimbo {
    padding-top: 17.36vh; 
    margin: auto;
    display: block;
    width: 1470px;
    height: 852.6px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .imgcarimbo {
        padding-top: 6.94vh; 
        margin: auto;
        display: block;
        width: 41.67vw; 
        height: 41.67vw; 
        align-items: center;
    }

    .projetoTitle {
        color: white;
        text-align: center;
        font-size: 5.89vw; 
        font-weight: 200;
        font-family: 'Chillax';
        padding-top: 6.94vh; 
    }
}