.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5%;
}

.imagem{
  width: 469.72px;
  height: 561px;
}

.containerParagrafo{
    color: white;
}
.paragrafo{
    font-size: 2em;
    margin: 0px;
    text-align: justify;
    margin-bottom: 2em;
 }

 .titulo{
    font-size: 5em;
    margin-bottom: 0.7em;
    text-align: justify;
    height: 90px;
    width: 129px;
 }

 .conjuntoImagens{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .conjuntoImagens img{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .bar{
    height: 700px;
    border-left: 2px solid;
    color: white;
    margin: 0px 5em;
}

 @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
    .bar{
        display: none;
    }
    .containerParagrafo{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .imagem{
        margin-bottom: 4em;
    }
    .conjuntoImagens{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2em;
    }
    .paragrafo{
        margin-bottom: 2em;
    }
  }
