.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5%;
}

.containerParagrafo{
    color: white;
}
.paragrafo{
    font-size: 2.3vh;
    margin: 0px;
    text-align: justify;
    margin-bottom: 2em;
    margin-right: 12vh;
 }

 .titulo{
    font-size: 5.5vh;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 1.7vh;
 }

 .conjuntoImagens{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
 }


 .bar{
    height: 68vh;
    border-left: 1px solid;
    color: white;
    margin: 0px 5em;
}

 @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
    .bar{
        display: none;
    }
    .containerParagrafo{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .imagem{
        margin-bottom: 4em;
    }
    .conjuntoImagens{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2em;
        width: 100%;
    }
    .paragrafo{
        margin-bottom: 2em;
    }
  }
