.imageContainer {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  height: 80vh;
  overflow: hidden;
}

.image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: cover;
  transition: transform 0.3s ease;
  z-index: 1;
}

.imageContainer:hover .image {
  transform: scale(1.02);
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.imageOverlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.imageContainer:hover .imageOverlay::before {
  opacity: 1;
}

.textContainer {
  position: absolute;
  top: 40%;
  left: 15%;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 3;
}

.imageContainer:hover .textContainer {
  opacity: 1;
  transform: translateY(0);
}

.textTitle {
  font-size: 2.7vw;
  font-weight: bold;
  color: white;
  line-height: 3vw;
  width: 50%;
}

.textDescription {
  font-size: 1vw;
  font-weight: normal;
  margin-top: 0.3vw;
  color: white;
  line-height: 1.5vw;
  width: 62%;
}

@media (max-width: 576px) {
  .textTitle {
    font-size: 5.58vw;
    line-height: normal;
  }

  .textDescription {
    font-size: 3.52vw;
    line-height: normal;
    width: 90%;
  }
}