.imageContainer {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  height: 80vh;
  overflow: hidden;
}

.image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  /* efeito gradiente (transformação) */
}

.imageContainer:hover .image {
  transform: scale(1.03);
  /* efeito de zoom */
}

.imageOverlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* efeito gradiente */
  transition: opacity 0.5s ease-in-out;
}

.imageOverlay:hover::before {
  opacity: 0;
  /* efeito gradiente */
}

.textContainer {
  position: absolute;
  top: 40%;
  left: 15%;
  text-align: left;
  transition: opacity 0.5s ease-in-out;
}

.textTitle {
  font-size: 2.7vw;
  font-weight: bold;
  color: white;
  line-height: 3vw;
  width: 50%;
}

.textDescription {
  font-size: 1vw;
  font-weight: normal;
  margin-top: 0.3vw;
  color: white;
  line-height: 1.5vw;
  width: 60%;
}

.imageContainer:hover .textContainer {
  opacity: 0;
  /* texto desaparece */
}

@media (max-width: 576px) {
  .textTitle {
    font-size: 5.58vw;
    line-height: normal;
  }

  .textDescription {
    font-size: 3.52vw;
    line-height: normal;
    width: 90%;
  }

}