.contact p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.lowTextAux{
    width: 10%;
    position: relative;
}

.highText {
    width: 25%;
    font-size: 4.5vh;
}


.lowText {
    font-size: 1.6vh;
    position: absolute;
    bottom: 0;
    text-align: left;
}

.contact {
    display: flex;
    justify-content: center;
}