.contact p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    
}

/* .lowTextAux{
    width: 10%;
    position: relative;
} */

.lowTextAux{
    width: 40%;
    position: relative;
    align-items: center;
    margin-top: 2vh;
}

/* .highText {
    width: 25%;
    font-size: 4.5vh;
} */

.highText {
    width: 40%;
    text-align: left;
    font-size: 2.4vw
}


/* .lowText {
    font-size: 1.6vh;
    position: absolute;
    bottom: 0;
    text-align: left;
} */

.lowText {
    font-size: .95vw;
    position: relative;
    bottom: 0;
    text-align: left;
    margin-top: 2vw;
}
 

.HRSeparator {
    background-color: black;
    width: 100%;
    margin-top: 5vh;
}

.Separator {
    visibility: hidden;
    width: 100%;
    height: 10vh;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 600px) {

/*     .highText {
        width: 90%;
        text-align: left;
    } */

/*     .contact {
        flex-direction: column;
        margin-left: 10vw;
    } */

/*     .lowText {
        font-size: 1.95vh;
        position: relative;
        bottom: 0;
        text-align: left;
 
    } */

   /*  .lowTextAux{
        width: 90%;
        position: relative;
    } */

    .Separator {
        visibility: visible;
        width: 40%;
        align-items: center;
    }

    .highText {
        font-size: 8vw
    }

    .lowText {
        font-size: 4vw;
    }
    
    .lowTextAux{
        width: 70%;
    }

    .highText {
        width: 70%;
    }
  }