.container {
    display: flex;
    flex-direction: row;
    margin-top: 12vh;
}

.container h1 {
    font-size: 2.7vw;
    font-weight: 500;
    width: 88%;
}

.container p {
    font-size: 1vw;
    line-height: normal;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-bottom: 10vh;
    align-self: flex-end;
}

.img {
    width: 67.5%;
    height: auto;
}

@media (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 6vh;
    }

    .container h1 {
        font-size: 6.58vw;
        font-weight: 500;
        width: 100%;
        margin-top: 2vh;
    }

    .container p {
        font-size: 3.52vw;
        line-height: normal;
    }

    .textContainer {
        margin-left: 0;
        margin-bottom: 2vh;
        align-self: flex-end;
    }

    .img {
        width: 100%;
        height: auto;
    }


}