.Container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1E181A ;
}

.textAbout{
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 350;
}

.altText{
  font-Family: 'Allegin';
  font-weight: 100;
}
